/* Globals */
body{position:relative;background-color:#ddd;width:950px;height:640px;}
p{color:#888;}
li{color:#555;}
a{cursor:pointer;}
.checkbox{text-align:right;}
.box{border-style:none;border:solid 1px #333;color:gray;text-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;box-shadow:5px 5px 15px #333;}
.dropdown_box{border-style:none;border:solid 1px #333;color:black;text-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;box-shadow:5px 5px 15px #333;}
.bordered{border-style:none;border-top:solid 0.5px #333;text-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.bezzle{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
input{border-style:none;border:solid 1px #333;color:gray;text-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
input[type='button']:hover{cursor:pointer;color:white;background-color:#555;}

/* customerNameCheck */

/* Div IDs */
#header{position:absolute;left:0px;top:0px;width:500px;height:55px;cursor:pointer;}
#headerText{position:absolute;bottom:0px;left:20px;color:#222;font-size:45px;}
#version{position:absolute;bottom:10px;left:465px;color:#000;font-size:9px;}
#body{position:absolute;top:55px;height:770px;left:0px;width:675px;background-color:#222222;border-radius:10px;}
#doc{position:absolute;top:8px;left:8px;height:720px;width:660px;/*background-image:url("../res/doc.png");*/border-radius:5px;background-color:#6d7d7d;}/* #224455 */

#customer_input{position:absolute;left:120px;top:10px;}

/* full spans */
#govMonitoring{position:absolute;top:100px;left:127px;visibility:visible;}
#loanAccepted{position:absolute;top:120px;left:127px;visibility:visible;}

#loanStatus{position:absolute;top:120px;left:127px;visibility:visible;}

#beRejected{position:absolute;top:140px;left:127px;visibility:visible;}
#adverseAction{position:absolute;top:160px;left:127px;visibility:visible;}
#earlyDisclosure{position:absolute;top:170px;left:127px;visibility:visible;}
#deliveredTo{position:absolute;top:180px;left:127px;visibility:visible;}

#conditionallyApproved{position:absolute;top:190px;left:127px;visibility:visible;}

#govMonitoringAnswer{position:absolute;top:100px;width:130px;left:405px;visibility:hidden;}
#loanAcceptedAnswer{position:absolute;top:120px;width:130px;left:405px;visibility:hidden;}

#loanStatusAnswer{position:absolute;top:120px;width:130px;left:405px;visibility:hidden;}

#beRejectedAnswer{position:absolute;top:140px;width:130px;left:405px;visibility:hidden;}
#adverseActionAnswer{position:absolute;top:160px;width:130px;left:405px;visibility:hidden;}
#earlyDisclosureAnswer{position:absolute;top:180px;width:130px;left:405px;visibility:hidden;}
#deliveredToAnswer{position:absolute;top:200px;width:130px;left:405px;visibility:hidden;}

#conditionallyApprovedAnswer{position:absolute;top:200px;width:130px;left:405px;visibility:hidden;}
#titleOrderedAnswer{position:absolute;top:220px;width:130px;left:405px;visibility:hidden;}
#titleApprovedAnswer{position:absolute;top:240px;width:130px;left:405px;visibility:hidden;}

#govMonitoringAnswerYesNo{position:absolute;top:0px;left:10px;}
#loanAcceptedAnswerYesNo{position:absolute;top:0px;left:10px;}

#loanStatusAnswerYesNo{position:absolute;top:0px;left:10px;}

#beRejectedAnswerYesNo{position:absolute;top:0px;left:10px;}
#adverseActionAnswerYesNo{position:absolute;top:0px;left:10px;}
#earlyDisclosureAnswerYesNo{position:absolute;top:0px;left:10px;}
#deliveredToAnswerYesNo{position:absolute;top:0px;left:10px;}

#conditionallyApprovedAnswerYesNo{position:absolute;top:0px;left:10px;}

#govMonitoringAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}
#loanAcceptedAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}

#loanStatusAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}

#beRejectedAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}
#adverseActionAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}
#earlyDisclosureAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}
#deliveredToAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}

#conditionallyApprovedAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}

/* checkboxes and radio buttons */
#govMonitoringCheckbox{position:absolute;top:0px;left:397px;visibility:visible;}
#conditionallyApprovedCheckbox{position:absolute;top:0px;left:319px;width:100px;visibility:visible;}
#earlyDisclosureCheckbox{position:absolute;top:0px;left:319px;width:100px;visibility:visible;}
#deliveredToCheckbox{position:absolute;top:0px;left:397px;visibility:visible;}

/* date selectors */

#loanStatusDate{position:absolute;top:125px;left:127px;visibility:hidden;}
#loanStatusDateWrapper{position:absolute;top:0px;left:0px;}
#loanStatusDay{position:absolute;top:0px;left:313px;}
#loanStatusMonth{position:absolute;top:0px;left:218px;}
#loanStatusYear{position:absolute;top:0px;left:355px;}
#loanStatusDateInfo{position:absolute;top:345px;left:387px;width:150px;height:20px;visibility:hidden;}
#loanStatusDateInfoDate{position:absolute;top:0px;left:0px;}
#loanStatusDateInfoLink{position:absolute;top:0px;right:0px;}
/* 5a */
#loanStatusComment{position:absolute;top:22px;left:0px;width:416px;visibility:visible;}

/* 1 */ /* Date Approved */
#acceptedDate{position:absolute;top:210px;left:127px;/*background-color:blue;*/}
#acceptedDateWrapper{position:absolute;top:0px;left:0px;visibility:visible;}
#acceptedDay{position:absolute;top:0px;left:313px;}
#acceptedMonth{position:absolute;top:0px;left:218px;}
#acceptedYear{position:absolute;top:0px;left:355px;}
#acceptedDateInfo{position:absolute;top:240px;left:387px;width:150px;height:20px;visibility:hidden;}
#acceptedDateInfoDate{position:absolute;top:0px;left:0px;}
#acceptedDateInfoLink{position:absolute;top:0px;right:0px;}

/* 2 */
#appraisalOrderedDate{position:absolute;top:230px;left:127px;/*background-color:green;*/}
#appraisalOrderedDateWrapper{position:absolute;top:0px;left:0px;visibility:visible;}
#appraisalOrderedDay{position:absolute;top:0px;left:313px;}
#appraisalOrderedMonth{position:absolute;top:0px;left:218px;}
#appraisalOrderedYear{position:absolute;top:0px;left:355px;}
#appraisalOrderedDateInfo{position:absolute;top:261px;left:387px;width:150px;height:20px;visibility:hidden;}
#appraisalOrderedDateInfoDate{position:absolute;top:0px;left:0px;}
#appraisalOrderedDateInfoLink{position:absolute;top:0px;right:0px;}

#appraisalOrderedComment{position:absolute;top:22px;left:0px;width:416px;}

/* 3 */
#appraisalApprovedDate{position:absolute;top:250px;left:127px;/*background-color:tan;*/}
#appraisalApprovedDateWrapper{position:absolute;top:0px;left:0px;visibility:visible;}
#appraisalApprovedDay{position:absolute;top:0px;left:313px;}
#appraisalApprovedMonth{position:absolute;top:0px;left:218px;}
#appraisalApprovedYear{position:absolute;top:0px;left:355px;}
#appraisalApprovedDateInfo{position:absolute;top:282px;left:387px;width:150px;height:20px;visibility:hidden;}
#appraisalApprovedDateInfoDate{position:absolute;top:0px;left:0px;}
#appraisalApprovedDateInfoLink{position:absolute;top:0px;right:0px;}

/* 3a */
#appraisalComment{position:absolute;top:23px;left:0px;width:416px;}

#titleOrdered{position:absolute;top:295px;left:127px;visibility:visible;}
#titleOrderedCheckbox{position:absolute;top:0px;left:153px;width:300px;visibility:visible;}
#titleOrderedAnswerYesNo{position:absolute;top:0px;left:10px;}
#titleOrderedAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}

#titleApproved{position:absolute;top:315px;left:127px;visibility:visible;}
#titleApprovedCheckbox{position:absolute;top:432px;left:319px;width:100px;visibility:visible;}
#titleApprovedAnswerYesNo{position:absolute;top:0px;left:10px;}
#titleApprovedAnswerEdit{position:absolute;top:0px;right:0px;cursor:pointer;}
#titleApprovedCheckbox{position:absolute;top:0px;left:319px;width:100px;visibility:visible;}

/* 4 */
#titleOrderedDate{position:absolute;top:315px;left:127px;visibility:hidden;}
#titleOrderedDateWrapper{position:absolute;top:0px;left:0px;}
#titleOrderedDay{position:absolute;top:0px;left:313px;}
#titleOrderedMonth{position:absolute;top:0px;left:218px;}
#titleOrderedYear{position:absolute;top:0px;left:355px;}
#titleOrderedDateInfo{position:absolute;top:325px;left:387px;width:150px;height:20px;visibility:hidden;}
#titleOrderedDateInfoDate{position:absolute;top:0px;left:0px;}
#titleOrderedDateInfoLink{position:absolute;top:0px;right:0px;}

#titleComment{position:absolute;top:22px;left:0px;width:416px;visibility:visible;}

/* 5 */
#titleApprovedDate{position:absolute;top:392px;left:127px;visibility:hidden;}
#titleApprovedDateWrapper{position:absolute;top:0px;left:0px;}
#titleApprovedDay{position:absolute;top:0px;left:313px;}
#titleApprovedMonth{position:absolute;top:0px;left:218px;}
#titleApprovedYear{position:absolute;top:0px;left:355px;}
#titleApprovedDateInfo{position:absolute;top:345px;left:387px;width:150px;height:20px;visibility:hidden;}
#titleApprovedDateInfoDate{position:absolute;top:0px;left:0px;}
#titleApprovedDateInfoLink{position:absolute;top:0px;right:0px;}
/* 5a */
#titleApprovedComment{position:absolute;top:41px;left:0px;width:416px;}

/* 7a */
#lockComment{position:absolute;top:22px;left:0px;width:416px;}

#targetCloseDate{position:absolute;top:360px;left:127px;}
#targetCloseDateWrapper{position:absolute;top:0px;left:0px;visibility:visible;}
#targetCloseDay{position:absolute;top:0px;left:313px;}
#targetCloseMonth{position:absolute;top:0px;left:218px;}
#targetCloseYear{position:absolute;top:0px;left:355px;}
#targetCloseDateInfo{position:absolute;top:452px;left:387px;width:150px;height:20px;visibility:hidden;}
#targetCloseDateInfoDate{position:absolute;top:0px;left:0px;}
#targetCloseDateInfoLink{position:absolute;top:0px;right:0px;}

#receiveDate{position:absolute;top:551px;left:127px;background-color:brown;}
#receiveDateWrapper{position:absolute;top:0px;left:0px;visibility:visible;}
#receiveDay{position:absolute;top:0px;left:313px;}
#receiveMonth{position:absolute;top:0px;left:218px;}
#receiveYear{position:absolute;top:0px;left:355px;}
#receiveDateInfo{position:absolute;top:471px;left:387px;width:150px;height:20px;visibility:hidden;}
#receiveDateInfoDate{position:absolute;top:0px;left:0px;}
#receiveDateInfoLink{position:absolute;top:0px;right:0px;}

/* jQuery only
#isGovMonitoring{}
#wasLoanAcceptedYes{}
#wasLoanAcceptedNo{}
#willBeRejectedYes{}
#willBeRejectedNo{}
#isAdverseActionYes{}
#isAdverseActionNo{}
#wasEarlyDisclosure{}
#deliveredToHMDA{}
*/

/* send button */
#requestAlert{position:absolute;top:45px;height:25px;left:0px;width:100%;background-color:#222;opacity:0;visibility:hidden;border-radius:5px 5px 5px 5px;border:solid 1px black;}
#sendRequest{position:absolute;top:10px;left:290px;visibility:visible;}
#printPreview{position:absolute;top:10px;left:330px;visibility:hidden;}
#updateRequest{position:absolute;top:10px;left:290px;visibility:hidden;}
#cancelUpdate{position:absolute;top:10px;left:330px;visibility:hidden;}

/* dropdown.php */

/* animated height should be dynamic depending on how many customers are available */
/**/
/*#box{position:absolute;top:100px;right:20px;height:40px;width:250px;background-color:#111111;}*/
/*#dropdownContainer{position:absolute;top:0px;right:0px;height:40px;width:250px;background-color:#111111;}*/
#dropdownFeedback{position:absolute;top:55px;left:685px;height:20px;width:250px;text-align:center;}
#dropdownContainer{position:absolute;top:55px;left:685px;height:40px;width:250px;border-radius:5px;}/* color not shown */
#dropdownSelected{position:absolute;top:0px;right:0px;height:50px;width:250px;background-color:#55636b;font-size:25px;color:#999;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom:none;}
#dropdown_title{position:absolute;top:0px;left:87px;color:#CCC;font-size:16px;}
#customer_search{position:absolute;bottom:0px;left:0px;height:60%;width:100%;border-top-left-radius:5px;border-top-right-radius:5px;border:none;}
/*#customerNameCheck{position:absolute;top:50px;left:400px;}*/
#dropdown{position:absolute;right:0px;top:50px;height:10px;width:250px;background-color:#6d7d7d;overflow:hidden;}
.customerContainer{position:absolute;height:20px;width:250px;}
.customer{position:absolute;height:20px;width:230px;left:0px;}
.options{position:absolute;height:20px;width:20px;top:0px;right:0px;}
.remove{position:absolute;height:20px;width:20px;right:0px;background-image:url("../res/x_blue.png");cursor:pointer;}
#dropdownExtend{position:absolute;right:0px;bottom:0px;height:10px;width:250px;background-color:#8f9f9f;text-align:center;visibility:visible;}
#dropdownExtend:hover{background-color:#cfdfdf;cursor:pointer;}
#dropdownExtendText{position:absolute;bottom:0px;width:250px;font-size:9px;text-align:center;}
#dropdownClose{position:absolute;right:0px;bottom:0px;height:10px;width:250px;background-color:#8f9f9f;text-align:center;visibility:hidden;}
#dropdownClose:hover{background-color:#cfdfdf;cursor:pointer;}
#dropdownCloseText{position:absolute;bottom:0px;width:250px;font-size:9px;text-align:center;}
/**/

/* Bug Tracker */
#bug{position:absolute;bottom:2px;left:12px;color:black;font-size:16px;cursor:pointer;visibility:hidden;}
#bugTracker{position:absolute;top:20px;left:0px;visibility:hidden;overflow:hidden;}
#bugTrackerName{position:absolute;top:5px;left:0px;height:20px;width:200px;}
#bugTrackerDescription{position:absolute;top:25px;left:0px;height:20px;width:200px;height:60px;resize:none;}
#bugFeedback{position:absolute;left:-5px;top:90px;width:150px;height:20px;font-size:13px;}
#submitBug{position:absolute;top:90px;left:137px;}

#footer{position:absolute;left:0px;bottom:-35px;width:100%;height:35px;visibility:visible;}
