body{background-color:white}
#print{position:absolute;height:22px;width:150px;right:225px;top:20px;color:black;background-color:#999999;text-align:center;cursor:pointer;}
#logo{background-image:url('../res/logo.jpg');background-repeat:none;height:72px;width:157px}

table{height:11in;width:8.5in;text-align:center;}
.comment{padding-left:100px;padding-right:100px;}
.header{border:none;text-align:left;}
.boolean{border-left:dashed 1px #CCC;border-right:dashed 1px #CCC;}
.title{text-align:left;}
td{border-bottom:solid 1px #CCC;}

